:export {
  primaryColor: $color-primary;
  disabledColor: $color-disabled;
  gray1Color: $color-gray-eb;
  gray2Color: $color-gray-f5;
  gray3Color: $color-gray-bd;
  gray4Color: $color-gray-99;
  gray5Color: $color-gray-75;
  gray6Color: $color-gray-66;
  gray7Color: $color-gray-cb;
  gray8Color: $color-gray-ff;
  gray9Color: $color-gray-61;
  red1Color: $color-red-ff;
  red2Color: $color-red-e5;
  red3Color: $color-red-ff4;
  red4Color: $color-red-ff1;
  pinkColor: $color-pink-e53;
  greenColor: $color-green-25b;
  breakpointTablet: $breakpoint-tablet
}
