.s-bg-f5 {
  background: $color-gray-f5;
}

.s-bg-eb {
  background: $color-gray-eb;
}

.s-bg-bd {
  background: $color-gray-bd;
}

.s-bg-99 {
  background: $color-gray-99;
}

.s-bg-75 {
  background: $color-gray-75;
}

.s-bg-66 {
  background: $color-gray-66;
}

.s-bg-disabled {
  background: $color-disabled;
}

.s-bg-color-red1 {
  background-color: $color-red-e5;
}

.s-bg-color-red2 {
  background-color: $color-red-ff;
}
